<h2>
    <%=title%>
    <% if (permission.deposit.modify) { %>
    <a class="add" href="/milkBox/createDeposit">增加押金单</a>
    <% } %>
</h2>
<form class="search">
    检索：
    <select name="giveBackFlag"  id="slDepositSearchGiveBackFlag">
        <option value="">是否需要拆箱</option>
        <option value="0">否</option>
        <option value="1">是</option>
    </select>&nbsp;
    <select name="boxedFlag"  id="slDepositSearchBoxedFlag">
        <option value="">是否需要装箱</option>
        <option value="0">否</option>
        <option value="1">是</option>
    </select>&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="起始日期" name="begin" value="<%= req.query.begin %>" />&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="截止日期" name="end" value="<%= req.query.end %>" />&nbsp;
    <input type="submit" value="过滤" class="button green" style="margin: 0" value="过滤" />
</form>

<table class="table">
    <thead>
    <tr class="tl">
        <th>单号</th>
        <th>地址</th>
        <th>联系人</th>
        <th>电话</th>
        <th>是否需要拆箱</th>
        <th>时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% deposits.forEach(x => { %>
    <tr id="<%= x._id %>" class="depositDataTr" data-id="<%= x._id %>">
        <td><%= x.number %></td>
        <td><%= x.address.city %><%= x.address.district %><%= x.address.address %></td>
        <td><%= x.address.name %></td>
        <td><%= x.address.phone %></td>
        <td><%= (x.giveBackFlag)?"是":"否"%></td>
        <td><%= moment(x.time).format('YYYY-MM-DD') %></td>
        <td>
            <a href="/milkBox/deposit/show/<%= x._id %>">押金单详情</a>
            <% if (permission.milkBox.modify) { %>
            <a href="javascript:deleteDialog('/milkBox/deposit/delete/<%= x._id %>', '<%= x._id %>');">删除</a>
            <% } %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<div id="divInfo">
</div>
<div class="pager">
    <a class="pager-item" href="/milkBox/deposit/?p=1&giveBackFlag=<%= req.query.giveBackFlag %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/milkBox/deposit/?p=<%= i %>&giveBackFlag=<%= req.query.giveBackFlag %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/milkBox/deposit/?p=<%= pageCount || 1 %>&giveBackFlag=<%= req.query.giveBackFlag %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>">»</a>
</div>


