<h2>
    <%=title%>
    <% if (permission.call.modify) { %>
    <a class="add" href="/call/create">添加来电信息</a>
    <% } %>
</h2>
<form class="search">
    检索：<input type="text" id="txtCallSearchUser" class="textbox w-0-8" name="user" placeholder="业务员" />&nbsp;
    是否需要回访：
    <select name="needFeedback"  id="slCallSearchNeedFeedback">
          <option value="">选择是否回访</option>
          <option value="0">否</option>
          <option value="1">是</option>
    </select>&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="起始日期" name="begin" value="<%= req.query.begin %>" />&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="截止日期" name="end" value="<%= req.query.end %>" />&nbsp;
    <input type="submit" value="过滤" class="button green" style="margin: 0" value="过滤" />
</form>

<table class="table">
    <thead>
       <tr class="tl">
           <td>业务员</td>
           <td>订单</td>
           <td>备注</td>
           <td>内容</td>
           <td>时间</td>
           <td>操作</td>
       </tr>
    </thead>
    <tbody>
    <% calls.forEach(x => { %>
    <tr>
        <td><%= x.user.name %></td>
        <td><%= x.order.number %></td>
        <td><%= x.hint %></td>
        <td><%= x.content %></td>
        <td><%= moment(x.time).format('YYYY-MM-DD') %></td>
        <td>
            <a href="/call/show/<%= x._id %>">订单详情</a>
            <% if (permission.order.modify) { %>
            <a href="/call/change/<%= x._id %>">变更</a>
            <a href="/call/delete/<%= x._id %>">删除</a>
            <% } %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>



<div class="pager">
    <a class="pager-item" href="/call/?p=1&user=<%= req.query.user %>&needFeedback=<%= req.query.needFeedback %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/order/?p=<%= i %>&user=user=<%= req.query.user %>&needFeedback=<%= req.query.needFeedback %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/call/?p=<%= pageCount || 1 %>&%>&user=<%= req.query.user %>&needFeedback=<%= req.query.needFeedback %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>">»</a>
</div>


