<h2>
    <%= title %>
</h2>

<form class="search" id="frmStatisticsSearch">
    起止日期:
    <input type="text" class="textbox w-0-8 datetime" placeholder="起始日期" name="begin" value="<%= req.query.begin %>" />&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="截止日期" name="end" value="<%= req.query.end %>" />&nbsp;
    <input type="submit" class="button green" style="margin: 0" value="生成报表" />
</form>

<% if (req.query.begin && req.query.end) { %>
<table class="detail-table">
    <tr>
        <td>客服人员</td>
        <% types.forEach(x => { %>
        <td>【<%= x %>】类来电</td>
        <% }) %>
    </tr>
    <% for (var x in statistics) { %>
    <tr>
        <td><%= x %></td>
        <% types.forEach(y => { %>
        <td><%= statistics[x][y].count %>个来电 (<%= statistics[x][y].notdeal %>个未回访)</td>
        <% }) %>
    </tr>
    <% } %>
</table>
<% } else { %>
<h3>请填写起止日期以生成统计报表</h3>
<% } %>