<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= title %> - 飞鹤牛奶管理系统</title>
    <link href="/styles/firmus.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/datetimepicker.css" />
    <link rel="stylesheet" href="/styles/codecomb.droptxt.css" />
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/Scripts/codecomb.droptxt.js"></script>
    <script type="text/javascript" src="/Scripts/moment.js"></script>
    <script src="/scripts/firmus.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <img src="/images/logo.png" class="nav-logo" id="logo" />
        <a href="/general/news" class="<%= general ? 'active' : '' %>">基本信息</a>
        <a href="/order" class="<%= order ? 'active' : '' %>">订单管理</a>
        <a href="/call" class="<%= call ? 'active' : '' %>">热线管理</a>
        <a href="/gift"  class="<%= gift ? 'active' : '' %>">赠品管理</a>
        <a href="/milkBox" class="<%= milkBox ? 'active' : '' %>">奶箱管理</a>
    </div>
</div>
<div class="functions">
    <ul>
        <% if (general) { %>
        <% if (permission.news.query) { %>
        <li><a href="/general/news">新闻公告</a></li>
        <% } if (permission.department.query) { %>
        <li><a href="/general/department">部门管理</a></li>
        <% } if (permission.employee.query) { %>
        <li><a href="/general/employee">职工管理</a></li>
        <% } if (permission.address.query) { %>
        <li><a href="/general/address">地址信息管理</a></li>
        <% } if (permission.car) { %>
        <li><a href="/general/car">配送车辆管理</a></li>
        <% } if (permission.permission.modify) { %>
        <li><a href="/general/permission">权限管理</a></li>
        <% } } %>
        <% if (order) { %>
        <% if (permission.order.query) { %>
        <li><a href="/order">订单管理</a></li>
        <% } if (permission.distribute.query) { %>
        <li><a href="/order/distribute">配送管理</a></li>
        <% } if (permission.produce.query) { %>
        <li><a href="/order/produce">生产预报管理</a></li>
        <% } if (permission.freeDrink.query) { %>
        <li><a href="/order/balence">赠饮管理</a></li>
        <% } if (permission.statistics.query) { %>
        <li><a href="/order/statistics">统计查询管理</a></li>
        <% } if (permission.statistics.query) { %>
        <li><a href="/order/finance">财务管理</a></li>
        <% } } %>

        <% if (gift) { %>
        <% if (permission.promotion.query) { %>
        <li><a href="/gift/promotion">促销活动管理</a></li>
        <% } if (permission.gift.query) { %>
        <li><a href="/gift/gift">赠品管理</a></li>
        <% } if (permission.giftStore.query) { %>
        <li><a href="/gift/store">赠品出库管理</a></li>
        <% } } %>

        <% if (call) { %>
        <% if (permission.call.query) { %>
        <li><a href="/call">来电受理管理</a></li>
        <% } if (permission.call.query) { %>
        <li><a href="/call/callback">回访管理</a></li>
        <% } if (permission.call.query) { %>
        <li><a href="/call/postpone">顺延变更</a></li>
        <% } if (permission.call.query) { %>
        <li><a href="/call/statistic">查询统计</a></li>
        <% } } %>

        <% if (milkBox) { %>
        <% if (permission.deposit.query) { %>
        <li><a href="/milkBox/deposit">押金管理</a></li>
        <li><a href="/milkBox/">奶箱管理</a></li>
        <% } } %>
    </ul>
</div>
<div class="main">
    <%- body %>
    <div class="footer">
        Copyright © 2015 Snow Light Information Technology Co., Ltd. All rights reserved.
    </div>
</div>
<script>var csrf = '<%= csrf %>';</script>
</body>
</html>