<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= title %> - 飞鹤牛奶管理系统</title>
    <link href="/styles/firmus.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/datetimepicker.css" />
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.datetimepicker.js"></script>
    <script src="/scripts/firmus.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <img src="/images/logo.png" class="nav-logo" id="logo" />
        <a href="/general/news" class="<%= general ? 'active' : '' %>">基本信息</a>
        <a href="/order" class="<%= order ? 'active' : '' %>">订单管理</a>
        <a href="/call" class="<%= call ? 'active' : '' %>">热线管理</a>
        <a href="/gift"  class="<%= gift ? 'active' : '' %>">赠品管理</a>
        <a href="/">奶箱管理</a>
    </div>
</div>
<div class="functions">
    <ul>
        <% if (general) { %>
        <% if (permission.news.query) { %>
        <li><a href="/general/news">新闻公告</a></li>
        <% } if (permission.department.query) { %>
        <li><a href="/general/department">部门管理</a></li>
        <% } if (permission.employee.query) { %>
        <li><a href="/general/employee">职工管理</a></li>
        <% } if (permission.address.query) { %>
        <li><a href="/general/address">地址信息管理</a></li>
        <% } if (permission.car) { %>
        <li><a href="/general/car">配送车辆管理</a></li>
        <% } if (permission.permission.modify) { %>
        <li><a href="/general/permission">权限管理</a></li>
        <% } } %>
        <% if (order) { %>
        <% if (permission.order.query) { %>
        <li><a href="/order">订单管理</a></li>
        <% } if (permission.distribute.query) { %>
        <li><a href="/order/distribute">配送管理</a></li>
        <% } if (permission.customer.query) { %>
        <li><a href="/order/customer">客户奶量管理</a></li>
        <% } if (permission.produce.query) { %>
        <li><a href="/order/produce">生产预报管理</a></li>
        <% } if (permission.balance.query) { %>
        <li><a href="/order/balance">余额管理</a></li>
        <% } if (permission.freeDrink.query) { %>
        <li><a href="/order/balence">赠饮管理</a></li>
        <% } if (permission.change.query) { %>
        <li><a href="/order/change">余额管理</a></li>
        <% } if (permission.statistics.query) { %>
        <li><a href="/order/statistics">统计查询管理</a></li>
        <% } } %>
    </ul>
</div>
<div class="main">
    <%- body %>
    <div class="footer">
        Copyright © 2015 Snow Light Information Technology Co., Ltd. All rights reserved.
    </div>
</div>
<script>var csrf = '<%= csrf %>';</script>
</body>
</html>