<style>
    td, th {
        padding: 3px;
    }
    table {
        font-size: 9px;
        text-align: left;
    }
</style>
<button onClick="window.print()">打印</button>
<table class="table">
    <thead class="tl">
    <tr>
        <th>订单号</th>
        <th>联系人</th>
        <th>地址</th>
        <th>金额</th>
        <th>订单类型</th>
        <th>订单日期</th>
    </tr>
    </thead>
    <tbody>
    <% orders.forEach(x => { %>
    <tr id="<%= x._id %>" class="orderDataTr" data-id="<%= x._id %>">
        <td><%= x.number %></td>
        <td><% if (x.user) { %><a href="/general/employee/<%= x.user._id %>"><%= x.user.name %></a>(<%= x.user.jobNumber %>)<% } %></td>
        <td><%= x.address.city %> <%= x.address.district %><%= x.address.address %></td>
        <td><%=  x.price %></td>
        <td><%= x.orderType %></td>
        <td><%= moment(x.time).format('YYYY-MM-DD') %></td>
    </tr>
    <% }) %>
    </tbody>
</table>