<h2><%= title %>
    <% if (permission.finance.modify) { %>
    <a class="add" href="/order/createFinance">添加账单</a>
    <a class="add" href="/order/createBackMoney">登记退钱</a>
    <% } %>
</h2>
<form class="search">
    检索：
    <input type="text" name="user" id="txtFinanceSearchUser"  class="textbox w-0-6" placeholder="业务员" value="<%= req.query.title %>" />&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="起始日期" name="begin" value="<%= req.query.begin %>" />&nbsp;
    <input type="text" class="textbox w-0-8 datetime" placeholder="截止日期" name="end" value="<%= req.query.end %>" />&nbsp;
    <input type="submit" class="button green" style="margin: 0" value="过滤" />
</form>

<table class="table">
    <thead>
     <tr class="tl">
         <th>业务员</th>
         <th>金额</th>
         <th>付款方式</th>
         <th>时间</th>
         <th>操作</th>
     </tr>
    </thead>
    <tbody>
    <% finances.forEach(x => { %>
    <tr id="<%= x._id %>">
        <td><%= x.user.name %></td>
        <td><%= x.price %></td>
        <td><%= x.payMethod %></td>
        <td><%= moment(x.time).format('YYYY-MM-DD') %></td>
        <td>
            <a href="/order/finance/show/<%= x._id %>">财务信息详情</a>
            <% if (permission.order.modify) { %>
            <a href="javascript:deleteDialog('/order/finance/delete/<%= x._id %>', '<%= x._id %>');">删除</a>
            <% } %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>


<div class="pager">
    <a class="pager-item" href="/order/finance/?p=1&user=<%= req.query.user %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/order/finance/?p=<%= i %>&user=user=<%= req.query.user %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/order/finance/?p=<%= pageCount || 1 %>&%>&user=<%= req.query.user %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>">»</a>
</div>