<h2><%= title %> <span class="subtitle">(<%= req.query.day || 3 %>天后)</span></h2>
<div class="submenu">
    <a href="/order/produce?day=1">1天后</a>
    <a href="/order/produce?day=2">2天后</a>
    <a href="/order/produce?day=3">3天后</a>
    <a href="/order/produce?day=4">4天后</a>
    <a href="/order/produce?day=5">5天后</a>
</div>
<div class="block">
    <% for (var x in report) { %>
    <h3><%= x %></h3>
    <table class="detail-table">
        <thead>
        <tr>
            <td class="row-title">奶品品相</td>
            <td>数量(瓶)</td>
        </tr>
        </thead>
        <tbody>
        <% for (var y in report[x]) { %>
        <tr>
            <td class="row-title"><%= y %></td>
            <td><%= report[x][y] %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>
</div>