<h2><%= title %>
    <% if (permission.address.modify) { %>
    <a href="/general/address/create" class="add">添加地址</a>
    <% } %>
</h2>
<form class="search">
    检索:
    <select name="city" class="w-0-6" id="lstCity">
        <option value="">城市</option>
        <% cities.forEach(x => { %>
        <option value="<%=x%>"><%= x %></option>
        <% }) %>
    </select>
    <select name="district" class="w-0-6" id="lstDistrict">
        <option value="">区县</option>
        <% districts.forEach(x => { %>
        <option data-city="<%= x.city %>"><%= x.district %></option>
        <% }) %>
    </select>
    <input type="text" class="w-1 textbox" name="address" placeholder="详细地址" />
    <input type="text" class="w-0-6 textbox" name="name" placeholder="联系人" />
    <input type="text" class="w-0-6 textbox" name="phone" placeholder="联系电话" />
    <select name="milkStation" class="w-1" id="lstMilkStation">
        <option value="">所属奶站</option>
    </select>
    <select name="milkbox" class="w-0-6">
        <option value="">奶箱</option>
        <option>已安装</option>
        <option>未安装</option>
    </select>
    <input type="submit" value="过滤" class="button green" />
</form>

<table class="table">
    <thead>
    <tr>
        <th class="tl">城市</th>
        <th class="tl">区县</th>
        <th class="tl">地址</th>
        <th class="tl">联系人</th>
        <th class="tl">联系电话</th>
        <th class="tl">奶站</th>
        <th>奶箱</th>
        <th>楼层指示</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% addresses.forEach(x => { %>
    <tr class="addressDataTr" data-id="<%= x._id %>" id="<%=x._id%>">
        <td><%= x.city %></td>
        <td><%= x.district %></td>
        <td><%= x.address %></td>
        <td><%= x.name %></td>
        <td><%= x.phone %></td>
        <td>
            <% if (x.milkStation) { %>
            <a href="/general/department/<%= x.milkStation._id %>"><%= x.milkStation.title %></a>
            <% } else { %>
            未分配
            <% } %>
        </td>
        <td class="tc"><%= x.deposit ? '有奶箱' : '无奶箱' %></td>
        <td class="tc"><%= x.storey %></td>
        <td class="tc">
            <a href="/general/address/edit/<%= x._id %>">编辑</a>
            <a href="javascript:deleteDialog('/general/address/delete/<%= x._id %>', '<%= x._id %>');">删除</a>
            <a href="/general/address/<%= x._id %>">详细资料</a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<div id="divInfo">
</div>
<div class="pager">
    <a class="pager-item" href="/general/address?p=1&name=<%= req.query.name %>&phone=<%= req.query.phone %>&city=<%= req.query.city %>&district=<%= req.query.district %>&address=<%= req.query.address %>&milkStation=<%= req.query.milkStation %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/general/address?p=<%= i %>&name=<%= req.query.name %>&phone=<%= req.query.phone %>&city=<%= req.query.city %>&district=<%= req.query.district %>&address=<%= req.query.address %>&milkStation=<%= req.query.milkStation %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/general/address?p=<%= pageCount || 1 %>&name=<%= req.query.name %>&phone=<%= req.query.phone %>&city=<%= req.query.city %>&district=<%= req.query.district %>&address=<%= req.query.address %>&milkStation=<%= req.query.milkStation %>">»</a>
</div>