<h2><%= title %> <span class="subtitle">(<%= department.type %>)</span></h2>
<div class="submenu">
    <a class="submenu-item" href="/general/department/<%= department._id %>">员工管理</a>
    <% if (department.type == '赠品仓库' || department.type == '奶箱仓库') { %>
    <a class="submenu-item" href="/general/department/store/<%= department._id %>?type=<%=department.type%>">仓库管理</a>
    <% } if (permission.department.modify) { %>
    <a class="submenu-item" href="/general/department/edit/<%= department._id %>">编辑部门</a>
    <% } %>
</div>