<h2>部门管理
    <% if (permission.department.modify) { %>
    <a class="add" href="javascript:$('#frmCreateDepartment').submit()">添加部门</a>
    <% } %>
</h2>
<form class="search">
    检索：
    <input type="text" name="title" class="textbox" placeholder="部门名称" value="<%= req.query.title %>" />&nbsp;
    <select name="type">
        <option value="">部门类型</option>
        <% enums.departmentType.forEach(x => { %>
        <option value="<%= x %>"<%= x == req.query.type ? ' selected' : '' %>><%= x %></option>
        <% }) %>
    </select>&nbsp;
    <input type="submit" class="button green" style="margin: 0" value="过滤" />
</form>
<table class="table">
    <thead>
    <tr>
        <th class="tl">部门名称</th>
        <th class="tl">部门经理</th>
        <th>部门人数</th>
        <th>部门类型</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% departments.forEach(x => { %>
    <tr>
        <td class="tl"><a href="/general/department/<%= x._id %>"><%= x.title %></a></td>
        <td class="tl"><%= x.master %></td>
        <td class="tc"><%= x.count %></td>
        <td class="tc"><%= x.type %></td>
        <td class="tc">
            <% if (currentUser.role == '部门主管' && x._id == currentUser.department) { %>
            <a href="/general/department/<%= x._id %>">管理</a>
            <% } %>
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<div class="pager">
    <a class="pager-item" href="/general/department">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/general/department?p=<%= i %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/general/department?p=<%= pageCount %>">»</a>
</div>