<h2>部门管理</h2>
<div class="search">
    检索：
    <input type="text" class="textbox" placeholder="部门名称" />&nbsp;
    <select>
        <option>部门类型</option>
        <% enums.departmentType.forEach(x => { %>
        <option value="<%= x %>"><%= x %></option>
        <% }) %>
    </select>&nbsp;
    <input type="button" class="button green" style="margin: 0" value="过滤" />
</div>
<table class="table">
    <thead>
    <tr>
        <th class="tl">部门名称</th>
        <th class="tl">部门经理</th>
        <th>部门人数</th>
        <th>部门类型</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% departments.forEach(x => { %>
    <tr>
        <td class="tl"><%= x.title %></td>
        <td class="tl"><%= x.master %></td>
        <td class="tc"><%= x.count %></td>
        <td class="tc"><%= x.type %></td>
        <td class="tc">
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>