<h2>职工管理
    <% if (permission.employee.modify) { %>
    <a href="/general/employee/create" class="add">添加职工</a>
    <% } %>
</h2>
<form class="search">
    检索:
    <input name="name" type="text" placeholder="姓名" class="textbox w-1" />
    <input name="jobNumber" type="text" placeholder="工号" class="textbox w-1" />
    <select name="role" class="w-1">
        <option value="">角色</option>
        <% enums.role.forEach(x => {%>
        <option value="<%= x %>"><%= x %></option>
        <% }) %>
    </select>
    <select name="department" class="w-1">
        <option value="">所属部门</option>
        <% departments.forEach(x => { %>
        <option value="<%= x._id %>"><%= x.title %></option>
        <% }) %>
    </select>
    <input type="submit" value="过滤" class="button green" />
</form>

<table class="table">
    <thead>
    <tr>
        <th class="tl">工号</th>
        <th class="tl">姓名/用户名</th>
        <th class="tl">职务</th>
        <th>学历</th>
        <th class="tl">联系电话</th>
        <th>所属部门</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach(x => { %>
    <tr class="employeeDataTr" data-id="<%= x._id %>">
        <td><%= x.jobNumber %></td>
        <td><a href="/general/employee/<%= x._id %>"><%= x.name %> (<%= x.username %>)</a></td>
        <td><%= x.role %></td>
        <td class="tc"><%= x.diploma %></td>
        <td><%= x.phone %></td>
        <td class="tc"><%= x.department ? x.department.title : '未分配' %></td>
        <td class="tc">
            <a href="/general/employee/<%= x._id %>">详细资料</a>
            <a href="/general/employee/edit/<%= x._id %>">编辑</a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<div id="divInfo">
</div>
<div class="pager">
    <a class="pager-item" href="/general/employee?p=1&name=<%= req.query.name %>&role=<%= req.query.role %>&department=<%= req.query.department %>&jobNumber=<%= req.query.jobNumber %>&milkbox=<%= req.query.milkbox %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/general/employee?p=<%= i %>&name=<%= req.query.name %>&role=<%= req.query.role %>&department=<%= req.query.department %>&jobNumber=<%= req.query.jobNumber %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/general/employee?p=<%= pageCount || 1 %>&name=<%= req.query.name %>&role=<%= req.query.role %>&department=<%= req.query.department %>&jobNumber=<%= req.query.jobNumber %>">»</a>
</div>