<h2><%= title %></h2>

<form class="search">
    检索:
    <input name="title" type="text" placeholder="赠品名称" class="textbox nullable" value="<%= req.query.title %>" />
    <input name="order" type="text" placeholder="关联订单" class="textbox nullable" value="<%= req.query.order %>" />
    <input name="number" type="text" placeholder="赠品编码" class="textbox nullable" value="<%= req.query.number %>" />
    <input name="begin" type="text" placeholder="起始日期" class="textbox nullable datetime" value="<%= req.query.begin %>" />
    <input name="end" type="text" placeholder="截止日期" class="textbox nullable datetime" value="<%= req.query.end %>" />
    <select name="type">
        <option value="">操作类型</option>
        <option>入库</option>
        <option>出库</option>
        <option>转入</option>
        <option>转出</option>
        <option>赠送给客户</option>
        <option>赠品调换</option>
        <option>补增赠品</option>
    </select>
    <input type="submit" value="过滤" class="button green" />
</form>
<table class="table">
    <thead>
    <tr>
        <th class="tl">仓库</th>
        <th class="tl">动作</th>
        <th class="tl">赠品</th>
        <th class="tl">数量</th>
        <th class="tl">相关订单</th>
        <th class="tl">时间</th>
        <th class="tl">操作</th>
    </tr>
    </thead>
    <tbody>
    <% stores.forEach(x => { %>
    <tr>
        <td><a href="/general/department/<%= x.department._id %>"><%= x.department.title %></a></td>
        <td><%= x.operateType %></td>
        <td><a href="/gift/gift/<%= x.gift._id %>"><%= x.gift.title %></a></td>
        <td><%= x.count %></td>
        <td>
            <% if (x.order) { %>
            <a href="/order/show/<%= x.order._id %>"><%= x.order.number %></a>
            <% if (x.feedback) { %>
            <span>(已回访赠品)</span>
            <% } else { %>
            <span>(未回访赠品)</span>
            <% } } else { %>
            -
            <% } %>
        </td>
        <td><%= moment(x.time).format('YYYY-MM-DD hh:mm:ss') %></td>
        <td>
            <% if (x.operateType == '赠送给客户') { %>
            <a target="_blank" href="/gift/print/<%= x._id %>">打印赠品配送单</a>
            <% } else if (x.operateType == '赠品调换') { %>
            <a target="_blank" href="/gift/print/<%= x._id %>">打印赠品调换单</a>
            <% } else if (x.operateType == '补增赠品') { %>
            <a target="_blank" href="/gift/print/<%= x._id %>">打印赠品补增单</a>
            <% } %>
            <% if (x.operateType == '赠送给客户' || x.operateType == '赠品调换' || x.operateType == '补增赠品') { %>
            <% if(!x.feedback) { %>
            <a href="/gift/feedback/<%= x._id %>">录入回访记录</a>
            <% } else { %>
            <a href="/gift/feedback/<%= x._id %>">查看回访记录</a>
            <% } } %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<div id="divInfo">
</div>
<div class="pager">
    <span class="pager-item">共：<%=count%> 条数据</span>
    <a class="pager-item" href="/gift/action/?p=1&order=<%= req.query.order %>&title=<%= req.query.title %>&number=<%= req.query.number %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>&type=<%= req.query.type %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/gift/action/?p=<%= i %>&order=<%= req.query.order %>&title=<%= req.query.title %>&number=<%= req.query.number %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>&type=<%= req.query.type %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/gift/action/?p=<%= pageCount || 1 %>&order=<%= req.query.order %>&title=<%= req.query.title %>&number=<%= req.query.number %>&begin=<%= req.query.begin %>&end=<%= req.query.end %>&type=<%= req.query.type %>">»</a>
</div>