<h2>
    <%= title %>
    <% if (permission.gift.modify) { %>
    <a href="/gift/gift/create" class="add">添加赠品</a>
    <% } %>
</h2>

<form class="search">
    检索:
    <input name="title" type="text" placeholder="赠品名称" class="textbox" value="<%= req.query.title %>" />
    <input type="submit" value="过滤" class="button green" />
</form>

<table class="table">
    <thead>
    <tr>
        <th class="tl">赠品名称</th>
        <th class="tl">剩余数量</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% gifts.forEach(x => { %>
    <tr id="<%= x._id %>">
        <td><%= x.title %></td>
        <td><%= x.count %></td>
        <td class="tc">
            <a href="/gift/gift/<%= x._id %>">查看详情</a>
            <a href="/gift/store/<%= x._id %>">查询库存</a>
            <a href="javascript:deleteDialog('/gift/delete/<%= x._id %>', '<%= x._id %>')">删除</a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>

<div class="pager">
    <a class="pager-item" href="/gift/gift?title=<%= req.query.title %>">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/gift/gift?p=<%= i %>&title=<%= req.query.title %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/gift/gift?p=<%= pageCount || 1 %>&title=<%= req.query.title %>">»</a>
</div>