<h2>
    <%= title %>
    <% if (permission.promotion.modify) { %>
    <a href="javascript:$('#frmCreatePromotion').submit();" class="add">发布促销活动</a>
    <% } %>
</h2>

<form action="/gift/promotion/create" method="post" id="frmCreatePromotion">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
</form>

<table class="activity-table">
    <% activities.forEach(x => { %>
    <tr>
        <td class="activity-table-icon-td">
            <img src="/file/download/<%= x.icon %>" class="activity-table-icon" />
        </td>
        <td>
            <h4><a href="/gift/promotion/<%= x._id %>"><%= x.title %></a></h4>
            <p class="activity-table-info">
                <% if (new Date() < x.begin) { %>
                <span class="button small blue">尚未开始</span>
                <% } else if (new Date() < x.end) { %>
                <span class="button small red">正字啊进行</span>
                <% } else { %>
                <span class="button small yellow">已经结束</span>
                <% } %>
                <%= moment(x.begin).format('YYYY-MM-DD') %> 至 <%= moment(x.end).format('YYYY-MM-DD') %>
                原价：￥<%= x.original.toFixed(2) %>，折扣价：<span style="color: red">￥<%= x.discount.toFixed(2) %></span>
            </p>
            <p class="activity-table-summary"><%= x.summary %></p>
        </td>
    </tr>
    <% }) %>
</table>

<div class="pager">
    <a class="pager-item" href="/gift/promotion">«</a>
    <% for(var i = start; i <= end; i++) { %>
    <a class="pager-item <%= page == i ? 'active' : '' %>" href="/gift/promotion?p=<%= i %>"><%= i %></a>
    <% } %>
    <a class="pager-item" href="/gift/promotion?p=<%= pageCount || 1 %>">»</a>
</div>